doctype html
html
    head
        title="Charts"
        link(rel="stylesheet" href="style.css")
        script(src="libraries/js-joda.js")
        script(type="module" src="main.js")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    body
        div#settings
            label='Linear'
                input(type='radio' id='linear' name='scaling' value='linear')
            label='Logarithmisch'
                input(type='radio' id='logarithmic' name='scaling' value='logarithmic')
            br
            label='Dezimal'
                input(type='radio' id='decimal' name='yAxis' value='linear')
            label='Binär'
                input(type='radio' id='binary' name='yAxis' value='logarithmic')
            br
            label='Österreich gesamt'
                input(type='radio' id='oesterreichMitWikipedia' name='dataset' value='oesterreichMitWikipedia')
            label='Österreich'
                input(type='radio' id='oesterreich' name='dataset' value='oesterreich')
            label='Wien'
                input(type='radio' id='wien' name='dataset' value='wien')
            label='Niederösterreich'
                input(type='radio' id='niederoesterreich' name='dataset' value='niederoesterreich')
            label='Oberösterreich'
                input(type='radio' id='oberoesterreich' name='dataset' value='oberoesterreich')
            label='Burgenland'
                input(type='radio' id='burgenland' name='dataset' value='burgenland')
            label='Steiermark'
                input(type='radio' id='steiermark' name='dataset' value='steiermark')
            label='Kärnten'
                input(type='radio' id='kaernten' name='dataset' value='kaernten')
            label='Salzburg'
                input(type='radio' id='salzburg' name='dataset' value='salzburg')
            label='Tirol'
                input(type='radio' id='tirol' name='dataset' value='tirol')
            label='Vorarlberg'
                input(type='radio' id='vorarlberg' name='dataset' value='vorarlberg')


        div#chart
            div#canvasLayout
                canvas#canvas
