doctype html
html
    head
        title="Charts"
        link(rel="stylesheet" href="style.css")
        script(src="libraries/js-joda.js")
        script(type="module" src="main.js")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    body
        div#settings
            label='Linear'
                input(type='radio' id='linear' name='scaling' value='linear')
            br
            label='Logarithmisch'
                input(type='radio' id='logarithmic' name='scaling' value='logarithmic')
            br
            br
            label='Dezimal'
                input(type='radio' id='decimal' name='yAxis' value='linear')
            br
            label='Binär'
                input(type='radio' id='binary' name='yAxis' value='logarithmic')

        div#chart
            div#canvasLayout
                canvas#canvas
